<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huobao.zdrama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ZdramaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZdramaAndroid">
        <activity
            android:name=".ui.project.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.ScriptViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.StoryboardViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.ImageGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.ProjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.ProjectListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.create.CreateProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
